:root {
  --color-primary: #6ee9cb;
  --color-white: #ffffff;
  --color-black: #000000;
  --width-335: 335px;
}

@media only screen and (min-width: 1024px) {
  :root {
    --width-desktop-big: 1000px;
  }
}

@media only screen and (min-width: 1380px) {
  :root {
    --width-desktop-big: 1280px;
  }
}

@media only screen and (min-width: 1500px) {
  :root {
    --width-desktop-big: 1440px;
    --width-desktop-medium: 1170px;
  }
}
